<!DOCTYPE html>
<html>
  <head>
    <title>เป่ายิงฉุบ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>เป่ายิงฉุบ</h1>
    <form name="form1" method="POST" action="/choice">
      <img src="images/rock.jpg" height="100" width="100"><input type="radio" name="gender" value="0"> ROCK<br>
      <img src="images/sissor.jpg" height="100" width="100"><input type="radio" name="gender" value="1"> SCISSOR<br>
      <img src="images/paper.jpg" height="100" width="100"><input type="radio" name="gender" value="2"> PAPER <br><br>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
