<!DOCTYPE html>
<html>
  <head>
    <title>เป่ายิงฉุบ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>เป่ายิงฉุบ</h1>
    <p>คุณเลือก <img src="images/<%=ues%>" height="60" width="60">
      VS <img src="images/<%=sum%>" height="60" width="60"></p>
    <br>
    <p><h1>คุณ<%=result%></h1></p>
    <a  href="../">กลับ</a>
  </body>
</html>
